.keyword-dropdown
  margin-right: 20px

.option-row
  display: flex
  flex-direction: row

.cost-icon
  margin-top: 4px
  display: flex
  align-items: center
  justify-content: center
  min-width: 40px
  height: 40px
  padding: 5px
  margin-right: 1px

.weave-cost
  background-color: #FCE5CD

.weave-added
  background-color: #D9EAD3

.trope-keyword,
.faction-keyword
  background-color: #741A47
  color: #FFFFFF

.hybrid-keyword
  background-color: #FA9F42
  color: #000000

.wide-dropdown
  width: 90%

.remove-keyword
  background-color: #AD343E
  width: 10%

.trigger-remove
  background-color: #0A5394
  color: #FFFFFF

.target-remove
  background-color: #BE8F00
  color: #FFFFFF

.effect-remove
  background-color: #38761D
  color: #FFFFFF

.duration-remove
  background-color: #980102
  color: #FFFFFF

.cooldown-remove
  background-color: #351C75
  color: #FFFFFF

.variable-remove
  background-color: #741A47
  color: #FFFFFF

.option-keyword
  padding-top: 5px