/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Aldrich&display=swap)

body
  font-family: 'Aldritch', sans-serif

.header
  display: flex
  justify-content: center

.header-gap
  margin-bottom: 20px

.title
  display: flex
  justify-content: center
  background-color: #FA9F42
  padding: 10px
  color: #FFFFFF
  font-size: 16pt

.footer
  padding-top: 20px
  display: flex
  justify-content: center
  background-color: #EFEFEF

.small-footer
  font-size: 10pt
  display: flex
  justify-content: center
  background-color: #EFEFEF
  padding-bottom: 10px

.container
  display: flex

.left
  flex-grow: 1
  background-color: #AD343E

.center
  flex-grow: 10

.right
  flex-grow: 1
  background-color: #AD343E